{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'lab4_form_style.css' %}">

    <title>Add Note</title>
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">NOTES APP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../lab-4">Table Version</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="note-list">Card Version</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="add-note">Add new note</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- MAIN CONTENT -->
    <div class="container p-5">
        <form class="container" action="" method="POST">
            {% csrf_token %}
            <legend>Add Note Form</legend>
            <legend><span id="legend-number">1</span> <span>Message Info</span></legend>
            <div class="mb-3">
                <label for="titleInput" class="form-label">Title</label>
                {% render_field form.title class="form-control" placeholder="Insert title here" %}
            </div>
            <div class="mb-3">
                <label for="titleInput" class="form-label">From</label>
                {% render_field form.from_who class="form-control" placeholder="Insert sender here" %}
            </div>
            <div class="mb-3">
                <label for="titleInput" class="form-label">To</label>
                {% render_field form.to_who class="form-control" placeholder="Insert receiver here" %}
            </div>
            <legend class="mt-5"><span id="legend-number">2</span> <span>Insert Your Message</span></legend>
            <div class="mb-3">
                <label for="titleInput" class="form-label">Message</label>
                {% render_field form.message class="form-control" placeholder="Insert message here" id="textarea" %}
            </div>
            <button type="submit" class="btn btn-primary">Add Note</button>
        </form>
    </div>
    


    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
</body>
</html>