body {
    background-color: #ced4da;
}

.note-container {
    display: flex;
    padding: 2px 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.note-card {
    color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 12px;
    margin: 1rem;
    flex-basis: 400px;

}

.title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 5%;
}

.from, .to {
    font-size: 20px;
    display: flex;
}

.from div:nth-of-type(1), .to div:nth-of-type(1) {
    width: 20%;
}

.from div:nth-of-type(2), .to div:nth-of-type(2){
    width: 80%;
}

td {
    min-width: 20px;
}

.note-card:hover {
    box-shadow: 0px 0px 15px #3a86ff;
}

.message {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10%;
}