body {
    margin: 0;
  }

  th, td {
    padding: 10px;
    border-radius: 10px;
  }

  table {
    width: 800px;
    border-radius: 10px;
    background-color: #e9edc9;
  }

  th {
    background-color: #f1faee;
    color: black;
  }

  .note tr:nth-of-type(odd) td {
    background-color: #457b9d;
    color: white;
  }

  .note tr:nth-of-type(even) td {
    background-color: #a8dadc;
  }

  .note-container {
    padding: 50px;
    display: flex;
  }