body {
    background-color: #ced4da;
}

legend:nth-of-type(1) {
    text-align: center;
    margin-bottom: 5%;
}

.container form{
    padding: 2.5em;
    border-radius: 1em;
    background-color: white;
}

.form-control {
    border-radius: 0;
    border-top: rgba(0,0,0,0);
    border-left: rgba(0,0,0,0);
    border-right: rgba(0,0,0,0);
}

#textarea {
    border: 1px solid rgba(0,0,0,0.2);
}

#legend-number {
    background-color: #edf2f4;
    padding: 0.3em;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
    border-top: rgba(0, 0, 0, 0);
    border-left: rgba(0, 0, 0, 0);
    border-right: rgba(0, 0, 0, 0);
    border-bottom: rgb(0, 0, 0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}