{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'lab3_style.css' %}" />
    <title>Friend List</title>
  </head>
  <body>
    <div class="friend-container">
      {% if friends %} {% for friend in friends %}
      <div class="friend-card">
        <img
          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
          style="width: 200px"
          alt=""
        />
        <h4><b>{{ friend.name }}</b></h4>
        <p>NPM: {{ friend.npm }}</p>
        <p>Birth Date: {{ friend.date_of_birth }}</p>
      </div>
      {% endfor %} {% else %}
      <h4>You don't have any friends :(</h4>
      {% endif %}
    </div>
  </body>
</html>
