{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Notes in HTML</title>
  </head>
  <body>
    <nav></nav>
    <div class="note-container">
      <table class="note">
        <tr>
          <th>Title</th>
          <th>From</th>
          <th>To</th>
          <th>Message</th>
        </tr>
        <div class="note">
          {% if notes %} {% for note in notes %}
          <tr>
            <td>{{ note.title }}</td>
            <td>{{ note.from_who }}</td>
            <td>{{ note.to_who }}</td>
            <td>{{ note.message }}</td>
          </tr>
          {% endfor %} {% endif %}
        </div>
      </table>
    </div>
  </body>
</html>
