body {
    margin: 0;
}

.note {
    background-color: #a8dadc;
    height: 300px;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
}

.note-container {
    padding: 20px;
    display: flex;
}