body {
    background-color: #f7ede2;
  }

.friend-container {
    display: flex;
    padding: 2px 16px;
    justify-content: center;
}

.friend-card {
    background-color: #f6bd60;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 2px 16px;
    margin: 25px;
}

.friend-card:hover {
    transform: translateY(5px);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}